@import '../../../styles/settings.scss';

.contactPage {
  padding: 50px;
  
  h1,
  h2 {
    text-align: center;
    color: $color-cornsilk;
  }
  p {
    font-size: $base-size * 2;
  }
  color: $color-text-bright;
  text-shadow: 1px 1px 1px $color-text;
  background-image: url('/img/backgrounds/contact-us.png');
  //  background-image: url("https://images.pexels.com/photos/7209396/pexels-photo-7209396.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 50px;

  label {
    font-size: $base-size * 2;
  }
  .submit{
    margin-top: 10px;
    color: $color-text-bright;
  }
}
