@import '../../../styles/settings.scss';

.homePage{
    
    background-image: url('/img/backgrounds/home.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px;
}