@import '../../../styles/settings.scss';

.searchForm {
  width: 85%;
  padding-top: 30px;
  justify-content: center;
  justify-items: center;
  .submitSearch {
    padding: 0;
    min-width: 35px;
    min-height: 35px;
    color: $color-text-bright;
    text-shadow: 1px 1px 1px $color-text;
  }
}
  @media screen and (max-width: 300px) {
    .searchForm {
      width: 100%;
    }
  }