.mainMenu{
  
  .navbar-toggler {
    right: 1rem;
  }
  
  img{
    margin-left: 20%;
    max-width: 150px;
    max-height: 150px;
  }
  
  .logo {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
  }
}