@import '../../../styles/settings.scss';

.productsSection {
  .image {
    height: 300px;
    object-fit: cover;
  }
  .sectionTitle {
    font-size: $base-size * 4;
    color: $color-theme-7;
    text-shadow: 1px 1px 1px $color-text;
  }
  @media screen and (max-width: 300px) {
    .sectionTitle {
      font-size: $base-size * 1.8;
    }
  }
}
