@import '../../../styles/settings.scss';

.productsSection {
  .image {
    height: 300px;
    object-fit: cover;
  }
  .sectionTitle{
    color: $color-theme-7;
    text-shadow: 1px 1px 1px $color-text;
  }
  
}

 
